*{
    margin: 0;
    padding: 0;
    border: 0;
}

.top-bar{
    height: 8vh;
    background-color: rgb(255,153,0);
}

.brand-name{
    font-weight: 600;
}

button{
    background-color: inherit;
}

.profile,
.cart{
    border-radius: 5px;
    font-weight: 600;
    padding: 7px 0;
}

.profile:hover,
.cart:hover{
    color: rgb(255,153,0);
}

.profile:focus{
    background-color: rgb(212,212,214);
    color: black;
}

.cart-items{
    width: 20px;
    height: 20px;
    top: 0;
    left: 25%;
}

.profile-dropdown{
    display: none;
}

.profile-parent:focus-within .profile-dropdown{
    display: block;
}

.category{
    height: 40vh;
    margin: 0 10%;
    padding: 0 10px;
    overflow: auto;
}

.category button{
    padding: 10px 15px;
    font-size: 15px;
}

.category button img{
    width: 120px;
}

.category button:hover{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.329);
    transform: scale(1.03);
}

.items-btn{
    width: 20%;
}

.items-btn:hover {
    transform: scale(1.03);
}


.display{
    margin: 5px;
}

.discount-price{
    top: 0;
    right: 0;
    padding: 5px;
}

.title,
.discount-price{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.add-to-cart{
    visibility: hidden;
}

.items-btn:hover .add-to-cart{
    visibility: visible;
}

.showItemDetailsModal,
.showCartModal{
    height: 92vh;
    top: 8vh;
}

.inner-modal,
.innerCart-modal{
    height: 100vh;
    position: fixed;
    z-index: 20;
}

.official-store{
    font-size: 13px;
    padding: 1px;
    text-align: center;
}

.few{
    font-size: 14px;
}

.innerCart-modal{
    overflow: auto;
}

.modal-cart-div{
    /* height: 50vh; */
    /* padding-bottom: 10%; */
    /* background-color: red; */
    top: 30vh;
    padding-bottom: 20vh;
}

.checkOut{
    /* height: max-content; */
}

::-webkit-scrollbar{
    display: none;
}